<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header-area {
            position: relative;
            margin-bottom: 25px; /* हेडर पछि तल स्पेस */
            min-height: 80px; /* लोगोको लागि न्यूनतम उचाइ */
        }
    </style>
</head>
<body>
     <div class="header-area">
            <div class="logo-section">
                <!-- तपाईंले {{ gov_logo }} लाई लोगोको वास्तविक छवि URL सँग बदल्नुपर्छ -->
                <img src={{gov_logo}} alt="Government Logo" style="width:80px; height: auto;">
            </div>
            <div class="header-content-centered">
                <h2>बर्दगोरिया गाउँपालिका</h2>
                <h3>गाउँ कार्यपालिकाको कार्यालय</h3>
                <div class="address-main">
                    <p>मूडा, कैलाली</p>
                    <p>सुदूरपश्चिम प्रदेश, नेपाल</p>
                </div>
            </div>
        </div>
</body>
</html>