<!DOCTYPE html>
<html lang="ne">
<head>
  <meta charset="UTF-8" />
  <title>सिफारिस पत्र</title>
  <style>
    body {
      font-family: Kalimati, 'Noto Sans Devanagari', Arial, sans-serif;
      margin: 40px;
      line-height: 1.8;
      direction: ltr; /* Nepali is LTR */
    }
    .center {
      text-align: center;
    }
  </style>
</head>
<body>

  <div class="center">
    <div class="header">
  <h2>बर्दगोरिया गाउँपालिका</h2>
<h3>गाउँ कार्यपालिकाको कार्यालय</h3> 
</div>

<div class="address">
  <p>मूडा, कैलाली</p>
  <p>सुदूरपश्चिम प्रदेश, नेपाल</p>
</div>

  </div>

  <div>
    <p>वडा कार्यालयको</p>
    <p>योजना/कार्यक्रम सम्झौता सम्बन्धी</p>
    <h3>सिफारिस पत्र</h3>
  </div>

</body>
</html>
