<!DOCTYPE html>
<html lang="ne">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
</head>
<body>

    <p style="text-align: right;">अनुसूची-२ क</p>
    <p style="text-align: center;">(नियम १८ को उपनियम (१) सँग सम्बन्धित)</p>
    <p style="text-align: center;"><strong>मौजुदा सुचीमा दर्ता हुनका लागि दिइने निवेदनको ढाँचा</strong></p>

    <p>श्री कार्यालय प्रमुखज्यू,</p>

    <p style="text-align: right;">मितिः</p>

    <p><strong>विषयः मौजुदा सूचीमा दर्ता गरी पाउँ ।</strong></p>

    <p>सार्वजनिक खरिद नियमावली, २०६४ को नियम १८ को उपनियम (१) बमोजिम तपशिलमा उल्लिखित विवरण अनुसारको पुष्ट्याई गर्ने कागजात संलग्न गरी मौजुदा सूचीमा दर्ता हुन यो निवेदन पेश गरेको छु ।</p>

    <p><strong>तपशिलः</strong></p>

    <p><strong>१. मौजुदा सूचीको लागि निवेदन दिने व्यक्ति, संस्था, आपूर्तिकर्ता, निर्माण व्यवसायी, परामर्शदाता वा सेवा प्रदायकको विवरणः</strong></p>
    <p>(क) नामः</p>
    <p>(ख) ठेगानाः</p>
    <p>(ग) पत्राचार गर्ने ठेगानाः</p>
    <p>(घ) मुख्य व्यक्तिको नामः</p>
    <p>(ङ) टेलिफोन नं. :</p>
    <p>(च) मोवाईल नं.:</p>

    <p><strong>२. मौजुदा सूचीमा दर्ता हुनको लागि निम्नबमोजिमको प्रमाणपत्रं संलग्न गर्नुहोला ।</strong></p>
    <p>(क) संस्था वा फर्म दर्ताको प्रमाणपत्र छ छैन</p>
    <p>(ख) नविकरण गरिएको छ छैन</p>
    <p>(ग) मूल्य अभिवृद्धि कर वा स्थायी लेखा नम्वर दर्ताको प्रमाणपत्र छ छैन</p>
    <p>(घ) कर चुक्ताको प्रमाणपत्र छ छैन</p>
    <p>(ङ) कुन खरिदको लागि मौजुदा सूचीमा दार्ता हुन निवेदन दिने हो, सो कामको लागि इजाजत पत्र आवश्यक पर्ने भएमा सो को प्रतिलिपि छ छैन</p>

    <p><strong>३. सार्वजनिक निकायबाट हुने खरिदको लागि दर्ता हुन चाहेको खरिदको प्रकृतिको विवरण :</strong></p>
    <p>(क) मालसामान आपूर्तिः</p>
    <p>(मालसामानको प्रकृति समेत उल्लेख गर्ने)</p>
    <p>(ख) निर्माण कार्य</p>
    <p>(ग) परामर्श सेवाः</p>
    <p>(परामर्श सेवाको प्रकृति समेत उल्लेख गर्ने)</p>
    <p>(घ) अन्य सेवाः</p>
    <p>(अन्य सेवाको</p>
    <p>प्रकृति उल्लेख गर्ने)</p>

    <br>

    <p>निवेदन दिएको मिति :</p>
    <p>निवेदकको नाम :</p>
    <p>हस्ताक्षर</p>

    <br>
    <br>

    <p>फर्मको छाप :</p>
    <p>आ. व. :</p>
    <p style="text-align: right;">हस्ताक्षर :</p>

</body>
</html>