<!DOCTYPE html>
<html>
<head>
<title>सम्झौता बमोजिमको किस्ता रकम उपलव्ध गराई पाउँ</title>
<style>
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  .container {
    width: 80%;
    margin: auto;
    border: 1px solid #eee;
    padding: 20px;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .content {
    margin-bottom: 30px;
  }
  .applicant {
    margin-top: 30px;
  }
</style>
</head>
<body>

<div class="container">
  <div class="header">
    <p>ललितपुर महानगरपालिक</p>
    <p>नगर कार्यपालिकाको कार्यालय</p>
    <p>पुल्चोक, ललितपुर</p>
    <p>बागमती प्रदेश, नेपाल</p>
  </div>

  <div class="content">
    <p>मितिः-</p>
    <p>श्रीमान् प्रमुख प्रशासकीय अधिकृतज्यू/श्रीमान् सचिव ज्यू</p>
    <p>नगर कार्यपालिकाको कार्यालय/वडा समितिको कार्यालय</p>
    <p>विषयः- सम्झौता बमोजिमको किस्ता रकम उपलव्ध गराई पाउँ</p>
    <p>उपर्युक्त विषयमा चालु आर्थिक वर्षको वडास्तरीय/नगरस्तरीय/विषयगत सामाजिक विकास तर्फको</p>
    <p>भैपरी वजेट शिर्षकमा {{project_name}} गर्ने सम्बन्धी योजनाको लागि मिति .............. मा सम्झौता भए</p>
    <p>अनुसार नियमानुसार प्रथम किस्ता रकम पेश्कि स्वरुप उपलव्ध गराई पाउन यो निवेदन पेश गरेका</p>
    <p>छौ।</p>
  </div>

  <div class="applicant">
    <p>निवेदक</p>
    {% for official in officials %}
  {{ official.post }} श्री {{ official.full_name }}<br>
{% empty %}
  कोही पनि विवरण उपलब्ध छैन।
{% endfor %}

    {% comment %} <p>अध्यक्षः ram</p>
    <p>सचिवः - sita</p>
    <p>कोषाध्यक्षः - hari</p> {% endcomment %}
  </div>
</div>

</body>
</html>